body {
background-color: #ffcc99;
text-align: center;
  line-height: 110%;
  }
#io{
  text-decoration: underline;
}
#looku{
margin:auto;
}
#atn {
color: #ff6633;
font-size: 250%;
}
#kome {
text-decoration: underline;
}
#art{
margin:auto;
}
