body {
background-color: #ffcc99;
text-align: center;
  line-height: 150%;
  a:link { color: #cc66cc; }
a:visited { color: #cc66cc; }
a:hover { color: #cc66cc; }
a:active { color: #cc66cc; }
  }
#io{
  text-decoration: underline;
 font-size: large;
}
#looku{
margin:auto;
}
#atn {
color: #ff6633;
font-size: 250%;
}
#kome {
text-decoration: underline;
  text-size:115%;
}
#art{
margin:auto;
}
#link{
text-size:125%;
}
